
<html>
<head>
	<title>เพลงพระราชนิพนธ์</title>
</head>
<div align="right">
***เพลงพระราชนิพนธ์***<BR/>
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center>
	<h1>เพลงพระราชนิพนธ์</h1>
</center>	



<center><a href="http://www.photoontour.com/SpecialPhotos_HTML/60thcelebration/king_data5.htm">รวมเพลงพระราชนิพนธ์</a></center>
	

</html>