
<html>
<head>
	<title>เพลงพระราชนิพนธ์</title>
</head>
<body background="http://www.ยอดพระเครื่อง.com/wp-content/uploads/2014/03/%E0%B8%9E%E0%B8%B7%E0%B9%89%E0%B8%99%E0%B8%AB%E0%B8%A5%E0%B8%B1%E0%B8%87-%E0%B8%A5%E0%B8%B2%E0%B8%A2%E0%B9%84%E0%B8%97%E0%B8%A2-%E0%B8%AA%E0%B8%B5%E0%B8%99%E0%B9%89%E0%B8%B3%E0%B8%95%E0%B8%B2%E0%B8%A5.jpg">
<div align="right" style="color: white">
***เพลงพระราชนิพนธ์***<BR/>
<a href="home" style="color: white">home</a>
<a href="kingsong1"  style="color: white">kingsong1</a>
<a href="kingsong2"  style="color: white">kingsong2</a>
<a href="kingsong3"  style="color: white">kingsong3</a>
</div>
<center>
	<h1 style="color: white">เพลงพระราชนิพนธ์</h1>
</center>	



<center><a  style="color: white" href="http://www.photoontour.com/SpecialPhotos_HTML/60thcelebration/king_data5.htm">รวมเพลงพระราชนิพนธ์</a><br><br>
	
	<img src = "http://loveisradio.files.wordpress.com/2013/12/103656_e0b983e0b899e0b8abe0b8a5e0b8a7e0b887.jpg" width="700" height="384"></center>
</body>
</html>