
<html>
<head>
	<title>เพลงพระราชนิพนธ์</title>
</head>
<audio autoplay loop>
<source src="33.mp3">

</audio>
<div align="right">
***เพลงพระราชนิพนธ์***<BR/>
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center>
	<h1>เพลงพระราชนิพนธ์ : สายฝน</h1>
</center>	



<center>
<div style="border: 3px dashed #f08080;background-color:#FFFFE0; width: 800px;" >
	

ทำนอง: พระบาทสมเด็จพระเจ้าอยู่หัว ภูมิพลอดุลยเดช<br>
คำร้อง: พระเจ้าวรวงศ์เธอ พระองค์เจ้าจักรพันธ์<br>
<table><p style="width: 600px" >


เมื่อลมฝนบนฟ้ามาลิ่ว
ต้นไม้พลิ้วลู่กิ่งใบ
เหมือนจะเอนรากคลอนถอนไป
แต่เหล่าไม้ยิ่งกลับงาม 
พระพรหมท่านบันดาลให้ฝนหลั่ง
เพื่อประทังชีวิตมิทราม
น้ำทิพย์สาดเป็นสายพรายพลิ้วทิวงาม
ทั่วเขตคามชุ่มธารา

สาดเป็นสายพรายพลิ้วทิวทุ่ง
แดดทอรุ้งอร่ามตา
รุ้งเลื่อมลายพร่างพลายนภา
ยามเมื่อฝนมาแต่ไกล

พระพรหมช่วยอำนวยให้ชื่นฉ่ำ
เพื่อจะนำดับความร้อนใจ
น้ำฝนพลั่งลงมาจากฟ้าแดนไกล
พืชพรรณไม้ชื่นยืนยง
</table>
</p>
</div>
<iframe width="640" height="360" src="https://www.youtube.com/embed/HDPa06OZn6A?autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
</center>
	

</html>