
<html>
<head>
	<title>เพลงพระราชนิพนธ์</title>
</head>


<div align="right">
***เพลงพระราชนิพนธ์***<BR/>
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center>
	<h1>เพลงพระราชนิพนธ์ : แสงเทียน</h1>
</center>	



<center>
<div style="border: 3px dashed #f08080;background-color:#FFFFE0; width: 800px;" >
	

ทำนอง: พระบาทสมเด็จพระเจ้าอยู่หัว ภูมิพลอดุลยเดช<br>
คำร้อง: พระเจ้าวรวงศ์เธอ พระองค์เจ้าจักรพันธ์<br>
<table><p style="width: 600px" >
จุดเทียนบวงสรวงปวงเทพเจ้า
สวดมนต์ค่ำเช้าถึงคราวระทมทน
โอ้ชีวิตหนอล้วนรอความตายทุกคน
หลีกไปไม่พ้นทุกข์ทนอาทรร้อนใจ
ต่างคนเกิดแล้วตายไป
ชดใช้เวรกรรมจากจร

นิจจังสังขารนั้นไม่เที่ยงเสี่ยงบุญกรรม
ทุกคนเคยทำกรรมไว้ก่อน
เชิญปวงเทวดาข้าไหว้วอน
ขอพรคุ้มไปชีวิตหน้า
ทนทรมานมามากแล้วจะกราบลา
หนีปวงโรคาที่เบียดเบียน
แสงแววชีวาเปรียบแสงเทียน

เปรียบเทียนสิ้นแสงยามแรงลมเป่า
ชีพดับอับเฉาเหมือนเงาไร้ดวงเทียน
จุดเทียนถวายหมายบนบูชาร้องเรียน
โรคภัยเบียดเบียนแสงเทียนทานลมพัดโบย
โรครุมเร้าร้อนแรงโรย
หวนโหยอาวรณ์อ่อนใจ

ทำบุญทำทานกันไว้เถิดเกิดเป็นคน
ไว้เตรียมผจญชีวิตใหม่
เคยทำบุญทำคุณปางก่อนใด
ขอบุญคุ้มไปชีวิตหน้า
ทนทรมานมามากแล้วจะกราบลา
แสงเทียนบูชาจะดับพลัน
แสงเทียนบูชาดับลับไป
</table>
</p>
</div>
<br>
<iframe width="640" height="360" src="https://www.youtube.com/embed/mqz76v4jrhI?autoplay=1&loop=1" frameborder="0" allowfullscreen></iframe>
</center>
	

</html>
