
<html>
<head>
	<title>เพลงพระราชนิพนธ์</title>
</head>
<audio autoplay loop>
<source src="2.mp3">

</audio>
<div align="right">
***เพลงพระราชนิพนธ์***<BR/>
<a href="home">home</a>
<a href="kingsong1">kingsong1</a>
<a href="kingsong2">kingsong2</a>
<a href="kingsong3">kingsong3</a>
</div>
<center>
	<h1>เพลงพระราชนิพนธ์ : ยามเย็น</h1>
</center>	



<center>
<div style="border: 3px dashed #f08080;background-color:#FFFFE0; width: 800px;" >
	

ทำนอง: พระบาทสมเด็จพระเจ้าอยู่หัว ภูมิพลอดุลยเดช<br>
คำร้อง: พระเจ้าวรวงศ์เธอ พระองค์เจ้าจักรพันธ์<br>
<table><p style="width: 600px" >

แดดรอนรอน
เมื่อทินกรจะลับเหลี่ยมเมฆา
ทอแสงเรืองอร่ามช่างงามตา
ในนภาสลับจับอัมพร

แดดรอนรอน
เมื่อทินกรจะลาโลกไปไกล
ยามนี้จำต้องพรากจากดวงใจ
ไกลแสนไกลสุดห่วงยอดดวงตา

แต่ก่อนเคยคลอเคลียกัน 
ทุกวันคืนรื่นอุรา
ต้องอยู่เดียวเปลี่ยววิญญาณ์
เหมือนดังนภาไร้ทินกร

แดดรอนรอน
หากทินกรจะลาโลกไปไกล
ความรักเราคงอยู่คู่กันไป
ในหัวใจคงอยู่คู่เชยชม

แดดรอนรอน
หมู่มวลภมรบินลอยล่องตามลม
คลอเคล้าพฤกษาชาติชื่นเชยชม
ชมสมตามอารมณ์ล่องเลยไป

ลิ่วลมโชย
กลิ่นพรรณไม้โปรยโรยร่วงห่วงอาลัย
ยามสายัณห์พลันพรากจากดวงใจ
คอยแสงทองวันใหม่กลับคืนมา

แต่ก่อนเคยคลอเคลียกัน
ทุกวันคืนชื่นอุรา
ต้องอยู่เดียวเปลี่ยววิญญาณ์
เหมือนดังนภาไร้ทินกร

โอ้ยามเย็น
จวบยามนี้เป็นเวลาสุดอาวรณ์
ยามไร้ความสว่างห่างทินกร
ยามรักจำจะจรจากกันไป
</table>
</p>
</div>
</center>
	

</html>